<nav class="fixed flex w-full md:h-[4rem] md:h-min-12 border-b-primary border-b  backdrop-blur-md justify-center place-content-center z-50 ">
	<div class=" absolute self-center w-full h-full backdrop-blur-md opacity-30 z-10" />
	<div class="self-center w-full md:w-[90rem] md:h-[4rem] flex flex-row flex-wrap z-11">
		<a href="#about" class="p-4 mx-auto text-black text-center animate-hover-bar ">ABOUT</a>
		<a href="#projects" class="p-4 mx-auto text-black text-center animate-hover-bar ">PROJECTS</a>
		<a href="#quicklinks" class="p-4 mx-auto text-black text-center animate-hover-bar ">LINKS</a>
	</div>
</nav>

