<section id="projects">
	<div className="flex flex-col mt-[10rem] md:mt-0 w-full md:w-full mb-fill place-content-start">
		<h1 className="flex self-center text-2xl my-2 md:my-[5rem] md:text-6xl font-bold">Projects</h1>
		<div className="flex flex-col">
			<div className="flex flex-col md:w-60rem self-center">
				<div className='grid md:grid-cols-2 md:grid-rows-2 grid-col-1 grid-row-4 mx-auto gap-16 mt-4 md:mt-8 md:gap-x-[6rem] md:gap-y-[4rem] '>
					{projects.map((value, key) => (
						<Project currentProject={key} />
					))}
				</div>
			</div>
			<LanguagesAndTools />
		</div>
	</div>
</section>
