.aboutme-container{
    max-width: 120rem;
    width: 100%;
    margin: 30rem auto;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    visibility: hidden;
}

.description-container{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #110326;
    margin: 5%;
    margin-top: 3rem;
    align-self: center;
    min-height: 0rem;
    visibility: visible;
}

.description{
    line-height: 2.5;
    font-size: 20px;
    padding: 5%;
    min-height: 20rem;
    min-width: 60rem;
}

.aboutme-intro{
    font-size: 3rem;
    visibility: visible;

}

.progress-bar{
    background: #dedddc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 10px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.start-component{
    border-bottom-left-radius: 50px;
    width: 0.25%;
    height: 90%;
    background: #363534;
    align-self: flex-start;
}

.start-end-component{
    border-bottom-left-radius: 50px;
    width: 0%;
    height: 90%;
    background: #363534;
    align-self: flex-start;

}

.end-component{
    border-bottom-right-radius: 50px;
    width: 0.25%;
    height: 90%;
    margin-right: 0.25%;
    background: #363534;
    align-self: flex-start;

}

.component{
    width: 0.25%;
    height: 90%;
    background: #363534;
    align-self: flex-start;
}

