.aboutme-container{
    height: 50%;
    min-height: 80vh;
    width: 90%;
    padding: 5%;
    background: #141414;
    display: flex;
    flex-direction: column;
}



.description-container{
    border-radius: 25px;
    background: #110326;
    padding: 5%;
    width: 60%;
    height: 20%;
    position: absolute;
    left: 15%;
    box-shadow: inset 1px 5% 5% rgba(255, 255, 255, 0.25);

}

.description{
    line-height: 2;
    font-size: 50px;



}

.progress-bar{
    background: #dedddc;
    border-radius: 25px;
    width: 80%;
    height: 10px;

}

.start-component{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 0.95%;
    height: 95%;
}

.end-component{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 0.95%;
    height: 95%;
}

.component{
    width: 0.95%;
    height: 95%;
}