.aboutme-container{
    height: 50%;
    min-height: 80vh;
    width: 100%;
    padding: 5%;
    background: #141414;
    
}
.description-container{
    border-radius: 25px;
    background: #110326;
    background: linear-gradient(135deg,rgba(17, 3, 38, 1) 0%, rgba(36, 16, 59, 1) 57%, rgba(17, 3, 38, 1) 100%);
    padding: 5%;
    width: 60%;
    height: 20%;
    position: absolute;
    left: 15%;
    box-shadow: inset 1px 5% 5% rgba(255, 255, 255, 0.25);
}

.discription{
    line-height: 2;
    font-size: 50px;
}