.home-container{
    position: relative;
    width: 100vw;
    height: 50rem;
    margin-inline: auto;
}

.home-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.title{
    text-anchor: middle;
    font-size: 4rem;
    visibility: visible;
    z-index: 5;

}

.link-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
    justify-content: center;
}

.useful-link{
    border: none;
    text-decoration: underline;
    text-decoration-color:#551A8B;
    visibility: hidden;
}

.useful-link:hover{
    cursor:pointer;
}

.useful-link-text{
    font-size: 1rem;
    color: #551A8B;
    visibility: visible;
}

.useful-link-buttons{
    background: #0F0F0F;
    padding-inline: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 4px;
    border: solid;
    border-color: grey;
}

.useful-link-buttons:hover{
    border-color: white;
}


.useful-link-link{
    align-self: center;
}