.home-container{
    position: relative;
    width: 100%;
    height: 50rem;
    margin-inline: auto;
}

.project-background{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    z-index: 4;
}

.project-background-center{
    width: 100%;
    height: 100%;
    margin-inline: auto;
    visibility: hidden;
}

.project-background-side{
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
}
.image-background{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-inline: auto;
    z-index: 3;
    overflow: hidden;
    visibility: hidden;
}

.images {
    height: 40rem;
    width: 80rem;
    position: absolute;
    border-radius: 50% 50%;
    align-self: center;
    opacity: 0.5;
    filter: blur(30px);
}

.first{
    transform: translate(90%, -45%);
    background: linear-gradient(98deg,rgba(116, 43, 148, 1) 0%, rgba(92, 30, 125, 1) 50%, rgba(33, 7, 46, 1) 100%);
}
.second{
    transform: translate(-90%, -25%);
    background: linear-gradient(90deg,rgba(65, 28, 87, 1) 0%, rgba(71, 33, 92, 1) 50%, rgba(112, 104, 166, 1) 100%);  
}

.title{
    align-self: center;
    text-anchor: middle;
    font-size: 5rem;
    padding: 10rem;
    visibility: visible;
    z-index: 5;

}