.image-container{
	width: 200%;
	max-height: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	flex-wrap: nowrap;
	position: absolute;
	left: -30rem;
	background: #0f0f0f;
	padding-top: 5rem;
	opacity: 0.75;
	visibility: visible;
}

.icon{
	width: 100%;
	max-width: 160px;
	max-height: 160px;
}

.landt-title{
	font-size: 2rem;
	padding: 2rem;
	visibility: visible;

}