.landt-container{
	position: relative;
	width: 90%;
	height: 40%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	align-self: center;
	justify-self: center;
	gap: 1rem;
	border-radius: 25px;
	margin-top: 5%;
	background:  #1a1a1a;
}

.image-container{
	position: relative;
	width: 200%;
	left: -30%;
	align-self: flex-start;
	max-height: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	justify-items: center;
	align-items: center;
	flex-wrap: nowrap;
	opacity: 0.75;
	visibility: visible;
}

.icon{
	width: 100%;
	max-width: 160px;
	max-height: 160px;

}

.landt-title{
	font-size: 2rem;
	padding: 2rem;
	visibility: visible;
}