.image-container{
	width : 120%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	flex-wrap: nowrap;
	position: absolute;
	bottom: 0%;
	left: -160px;
	background: #9c9998;
	background-blend-mode: ;
	padding-top: 3%;
	min-height: 120px;
	max-height: 120px;

}