.nav-container{
  width: 100%;
  margin-inline: auto;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: row;
}

.buttons-container{
  max-width: 80rem;
  display: flex;
  gap:1rem;
  transition:.2s ease-in-out;
  align-self: center;
  background-color: #0f0f0f;
  margin-inline: auto;
  padding-left: 70rem;
}

.nav-button {
  width: 50px;
  height: 31px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  background: linear-gradient(
    to bottom right,
    #110326 0%,
    #240c4f 30%
  );
  background-color: #240c4f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-button:hover,
.nav-button:focus {
  background-color: #46237a;
  box-shadow: 0 0 10px #46237a;
  outline: none;
}


