.quicklinks-container{
  width: 100%;
  margin-inline: auto;
  background-color: #0f0f0f;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.ql-nav{
  width: 100rem;
  background-color: #141414;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  margin-inline: auto;
  padding-right: 70rem;
}

.quicklink-title{
  text-align: center;
  align-self: center;
  font-size: 2rem;
}

.links {
  padding: 8px;
  background-color: #141414;
  margin: 10px;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
