@import "tailwindcss";

:root {
  --primary
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

body{
  background-color: #0f0f0f;
}

html, body {
  margin: 0;
  padding: 0;
}  

::-webkit-scrollbar {
  display: none;
}

.gradient-background{
  background: linear-gradient(180deg,rgba(15, 15, 15, 1) 0%, rgba(17, 3, 38, 1) 16%, rgba(17, 3, 38, 1) 84%, rgba(15, 15, 15, 1) 100%);
}

.silk-background{
  background: linear-gradient(125deg, #ff7eb9, #8c54ff, #5ce1e6);
}

.wave1 {
    animation-duration: 25s;
    visibility: visible;
}

.wave2 {
    animation-duration: 30s;
    animation-delay: -5s;
    opacity: 0.2;
    visibility: visible;
}

.wave3 {
    animation-duration: 35s;
    animation-delay: -7s;
    opacity: 0.5;
    visibility: visible;
}

@theme{
  --color-primary: #0f0f0f;
  --color-secondary: #1a1a1a;
  --color-tertiary: #3a1a63;
  --color-border-color: grey;


  --animate-progress-bar: progress-bar 10s linear 0s infinite;

  @keyframes progress-bar {
    0% {width:0%; background-color: #1a1a1a}
    100% {width:100%; background-color: #e8e8e8}
  }

  --animate-progress-bar-md: progress-bar-md 10s linear 0s infinite;

  @keyframes progress-bar-md{
    0% {width:0%; background-color: #1a1a1a}
    100% {width:60rem; background-color: #e8e8e8}
  }

  --animate-wave: drift linear infinite;


  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}